*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 80vh;
    background: #000;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family:  Helvetica; 
}
.navbar{
    position: absolute;
    top: 0;
    right: 10px;
    width: 50%;
    font-family: arial;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}
.navbar ul a{
text-decoration: none;
color: #fff;
font-size: 20px;
display: block;
padding: 10px 20px;
transition: all 0.3 ease;
}
.navbar ul a:hover{
    background: #fff;
    color: #000;
    border-radius: 5px;
}

.hero h1{
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.character{
display: flex;
gap: 15px;
 font-family: arial
}
.character h2{
    font-size: 32px;
}
.character p{
font-size: 20px;
}
.character a{
    text-decoration: none;
    color: crimson;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3 ease;
}
.character a:hover{
    color: blue;
}

.hero--character{
    height: auto;
    padding: 100px;
}

#character--image {
    border-radius: 50%;
    margin-bottom: 15px;
}

.container--character{
    display: block;   
}
.character--info{
    text-align: center;
    margin: auto;
    flex-direction: column;
    font-size: 1.4rem;   
}

.character--info a{
    background: rgb(1, 86, 69);
    width: fit-content;
    margin: auto;
    padding: 10px 10px;
    color: #fff;
    border-radius: 4px;
}



.character--info a:hover{
    color: #fff;
    background: green;
}

.botton{
    margin: 60px;
}

#pagination {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 20px 20px 20px 20px;
}

#pagination a {
    display: block;
    width: fit-content;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4PX;
    color: #e11414;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 12px;
    font-weight: bold;
}

#pagination a:hover {
    background: rgb(5, 57, 3);
    color: #fff;
}

.character{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
}

.character img{
    border-radius: 20px;
}